* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  padding: 25px;
  max-width: 760px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 10px;
  font-family: sans-serif;
}

h1,
h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #b1c9bb;
  padding: 0 0 10px;
  color: #00dbde;
}

.new-task-container {
  text-align: center;
}

.box {
  padding: 10px 15px;
  border: 2px solid #1fa2ff;
  border-radius: 5px;
  background: #fff;
  margin: 15px 0;
}

.todo-list {
  float: left;
  width: 46%;
}

.complete-list {
  float: right;
  width: 46%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
}

.delete {
  float: right;
  background-color: #ff713b;
  background-image: linear-gradient(147deg, #ff713b 0%, #ff2525 74%);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
}

#addTask {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
